<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>매일점심</title>
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">

    <!--css link-->
    <link rel="stylesheet" href="../static/css/index.css">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>

    <!-- jquery CDN(import) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script>

        let details = {{ details|tojson }}; // 데이터 json 형식으로 변경후 details 변수에 담기
        let details_list = []; // 배열 선언
        for (let i = 0; i < details.length; i++) { // 데이터 수 만큼 for문 돌리기
            details_list.push(details[i]) // 리스트에 데이터 수 만큼 배열 넣기
            // push(data[i][컬럼명])
        }
        function showDetail() {
                $.ajax({
                    type: "GET",
                    url: "/detail",
                    data: {},
                    success: function (response) {
                        let details = response['all_details']
                        for (let i = 0; i < details.length; i++) {
                            let title = details[i]['title']
                            let content = details[i]['content']
                            let category = details[i]['category']

                            let temp_html = `
                                                <div class="cardForm" type="button" data-toggle="modal" data-target="#exampleModalLong" onclick = "console.log('눌림')">
                                                    <img class="image" src="../static/image/food_5.jpg" width="300"></img>
                                                    <div class="title">
                                                        <h4>${title}</h4>
                                                        <p>Like(good)</p>
                                                    </div>
                                                    <div class="comment">
                                                        <p>${content}</p>
                                                    </div>
                                                </div>
                                            `
                            $('#fastFood').append(temp_html)
                        }
                    }
                })
            }






        {# 간편식 show // hide   #}
        {#function fastFood() {#}
        {#$("#fastFood").toggle(); // show -> hide , hide -> show#}

        $(document).ready(function () {
            $(".tab_title li").click(function () {
                let idx = $(this).index();
                $(".tab_title li").removeClass("on");
                $(".tab_title li").eq(idx).addClass("on");
                $(".tab_cont > div").hide();
                $(".tab_cont > div").eq(idx).show();
            })
        });


        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })

        $(document).ready(function() {
            showComments();
        });


        function logout() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = '/login';
        }


        function saveComment() {
            let nick = $("#post-nick").val()
            let comment = $("#post-comment").val()
            // 화면에 입력된 데이터를 jquery로 가지고 온다

            if (nick == "" || comment == "") {
                alert("닉네임과 댓글 내용을 입력해주세요.")
            } else {
                // post/ review에 저장(create)을 요청합니다.
                $.ajax({
                    type: "POST",
                    url: "/api/comments",
                    data: { nick_give: nick, comment_give: comment},
                    success: function (response) {
                        alert(response["msg"]);
                        $('#comment-box').empty()
                        showComments();
                    }
                })
            }
        }

        function showComments() {
            $.ajax({
                    type: "GET",
                    url: "/api/comments",
                    data: {},
                    success: function (response) {
                        let lunches = response['all_lunches']

                        for (let i = 0; i < lunches.length; i++) {
                            let nick = lunches[i]['nick']
                            let comment = lunches[i]['comment']


                            let temp_html = `
                                            <tr>
                                                <td>${nick}</td>
                                                <td>${comment}</td>
                                                <td><a href="#" onclick="deleteComment('${comment}')">삭제</a></td>
                                            </tr>
                                            `
                            $('#comment-box').append(temp_html)

                        }

                    }
                })
        }

        function deleteComment(comment) {
            $.ajax({
                type: 'POST',
                url: '/api/comment_delete',
                data: {comment_give: comment},
                success: function (response) {
                    alert(response['msg']);
                    $('#comment-box').empty()
                    showComments();
                }
            });
        }

        function tests() {
            $.ajax({
                    type: "GET",
                    url: "/api/comments",
                    data: {},
                    success: function (response) {
                        let lunches = response['all_lunches']

                        for (let i = 0; i < lunches.length; i++) {
                            let nick = lunches[i]['nick']
                            let comment = lunches[i]['comment']


                            let temp_html = `
                                            <tr>
                                                <td>${nick}</td>
                                                <td>${comment}</td>
                                                <td><a href="#" onclick="deleteComment('${comment}')">삭제</a></td>
                                            </tr>
                                            `
                            $('#comment-box').append(temp_html)

                        }

                    }
                })
        }


    </script>
</head>
<body>
<!--header-->
    <div class="header">
        <div class="header_logo">
            <i class="fas fa-hamburger fa-4x"></i>
            <a href="">매 일 점 심</a>
        </div>
        <div class="header_inputBox">
            <a href="/detail" class="textGoing">글쓰기</a>
            <button onclick="logout()">로그아웃</button>
        </div>
    </div>

<!--mainImage-->
    <div class="mainImage">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../static/image/food_1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../static/image/food_2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../static/image/food_3.jpg" alt="Third slide" >
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../static/image/food_4.jpg" alt="ford slide" >
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="bigText">
            <span>매일점심</span>
        </div>
    </div>

<!--category-->
    <div class="category">
        <ui class="tab_title">
            <li class="on">간편식</li>
            <li>해장</li>
            <li>비오는날</li>
            <li>비건</li>
        </ui>
    </div>

<!--foodCard-->
    <div id="card" class="tab_cont">
        <div class="cardForm on" type="button" data-toggle="modal" data-target="#exampleModalLong" onclick = "console.log('눌림')">
            <img class="image" src='{{ details[0]['url'] }}' width="300">
            <div class="title">
                <h4>{{ details[0]['title'] }}</h4>
                <p>Like(good)</p>
            </div>
            <div class="comment">
                <p>{{ details[0]['content'] }}</p>
            </div>
        </div>
        <div class="cardForm on" type="button" data-toggle="modal" data-target="#exampleModalLong" onclick = "console.log('눌림')">
            <img class="image" src='{{ details[0]['url'] }}' width="300">
            <div class="title">
                <h4>{{ details[0]['title'] }}</h4>
                <p>Like(good)</p>
            </div>
            <div class="comment">
                <p>{{ details[0]['content'] }}</p>
            </div>
        </div>
        <div class="cardForm on" type="button" data-toggle="modal" data-target="#exampleModalLong" onclick = "console.log('눌림')">
            <img class="image" src='{{ details[0]['url'] }}' width="300">
            <div class="title">
                <h4>{{ details[0]['title'] }}</h4>
                <p>Like(good)</p>
            </div>
            <div class="comment">
                <p>{{ details[0]['content'] }}</p>
            </div>
        </div>
        <div class="cardForm on" type="button" data-toggle="modal" data-target="#exampleModalLong" onclick = "console.log('눌림')">
            <img class="image" src='{{ details[0]['url'] }}' width="300">
            <div class="title">
                <h4>{{ details[0]['title'] }}</h4>
                <p>Like(good)</p>
            </div>
            <div class="comment">
                <p>{{ details[0]['content'] }}</p>
            </div>
        </div>
    </div>



<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">음식 이름</h5>
                <span class="badge badge-info">카테고리</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class = "detail_img"></div>
                <p class = "main_ingre">주재료</p>
                <div class = "wrap">
                    <div class="form-group">
                        <label for="post-nick">닉네임</label>
                        <input id="post-nick" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="post-comment">간단 코멘트</label>
                        <textarea id="post-comment" class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id=btn-box>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" onclick="saveComment()">댓글 저장</button>
            </div>
            <div class="comments">
                <table class="table">
                    <thead>
                    <tr>
                        <th class = "th-1" scope="col">닉네임</th>
                        <th class = "th-2" scope="col">코멘트</th>
                    </tr>
                    </thead>
                    <tbody id="comment-box">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
    </div>
</div>
</body>
</html>